<div class="card__body">
    <%= link_to memo.hospital_name, memo_path(memo.id), class: :card__title %>
    <p class="card__summary">
      <%= memo.hospital_teacher %>
    </p>
     <%= link_to "#{memo.user.nickname}", user_path(memo.user), class: :card__user %>
</div>