<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <div class="form__field1">
      <h2 class="page-heading">­ЪњіDr.ТЃЁта▒Тќ░УдЈсЃАсЃб­Ъњі</h2>
      <%= render partial: "form", locals: { memo: @memo } %>
      <p class="bounce-top">жЃйт║дТЏ┤Тќ░сЂЌсЂдсЂЈсЂасЂЋсЂё№╝Ђ<br>сѓѕсѓЇсЂЌсЂЈсЂіжАўсЂёсЂЌсЂЙсЂЎсђѓ</p>
    </div>
  </div>
  </div>
</div>