<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <div class="form__field1">
      <h2 class="page-heading">💊Dr.情報新規メモ💊
      <%= render partial: "form", locals: { memo: @memo } %>
    </div>
  </div>
  </div>
</div>