<main class="main">
  <div class="inner">
     <% if user_signed_in? %>
      <div class="greeting">
        <%= link_to "#{current_user.nickname}さん", root_path, class: :greeting__link %>
        <p>早速、Dr.💊情報を書いていこう✍✨<br>
        </p>
      </div>
     <% end %>
      <%# </div> %>
    <%# // ログインしているときは上記を表示する %>
    <div class="card__wrapper">
      <%= render partial: 'memo', collection: @memos %>
      <%# 投稿機能実装後、部分テンプレートでプロトタイプ投稿一覧を表示する %>
    </div>
  </div>
</main>
