<main class="main">
  <div class="inner">
     <% if user_signed_in? %>
      <div class="greeting">
        <%= link_to "#{current_user.nickname}ã•ã‚“", user_path(current_user), class: :greeting__link %>
        <p>ã€€<br>
        <p>ðŸ’ŠDr.æƒ…å ±ä¸€è¦§ðŸ’Š<br>
      <div class="card__wrapper">
      <%= render partial: 'memo', collection: @memos %>
      <% else %>
        <h1>â—Š Dr. Memo â—Š</h1>
         <div class="drop-container">
         <div class="drop"></div>
       </div>
     <% end %>
    </div>
  </div>
</main>
