<main class="main">
  <div class="inner">
     <% if user_signed_in? %>
      <div class="greeting">
        <%= link_to "#{current_user.nickname}ã•ã‚“", root_path, class: :greeting__link %>
        <p>ã€€<br>
        <p>ðŸ’ŠDr.æƒ…å ±ä¸€è¦§ðŸ’Š<br>
     <% end %>
      <%# </div> %>
    <%# // ãƒ­ã‚°ã‚¤ãƒ³ã—ã¦ã„ã‚‹ã¨ãã¯ä¸Šè¨˜ã‚’è¡¨ç¤ºã™ã‚‹ %>
    <div class="card__wrapper">
      <%= render partial: 'memo', collection: @memos %>
      <%# æŠ•ç¨¿æ©Ÿèƒ½å®Ÿè£…å¾Œã€éƒ¨åˆ†ãƒ†ãƒ³ãƒ—ãƒ¬ãƒ¼ãƒˆã§ãƒ—ãƒ­ãƒˆã‚¿ã‚¤ãƒ—æŠ•ç¨¿ä¸€è¦§ã‚’è¡¨ç¤ºã™ã‚‹ %>
    </div>
  </div>
</main>
